body {
    margin: 0;
    padding: 0;

}
.topmain {
    padding: 10px 0 15px 10px;
    position: relative;
    background-color: rgb(246, 246, 246);
    text-align: right;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
}
h2 {
    margin: 0;
    text-align: center;
}
a {
    text-decoration: none;
    color: #000;
}
.buttonWin {
    text-align: center;
    border: 1px solid rgb(50 82 120);
    border-radius: 25px;
    background-color: rgb(66 106 154);
    margin-left: 8%;
    padding-left: 70px;
    padding-right: 70px;
    padding-bottom: 10px;
    padding-top: 15px;
  /* https://developer.mozilla.org/ru/docs/Web/CSS/position */  
    position: sticky;  
    top: 20px;  
}
.buttonWin a {
    text-decoration: none;
    /*border: 1px solid black;
    background-color: white;*/
    padding: 20px;
    /*color: black;*/
    display: inline-block;
    font-size: 17px;
    font-family: monospace;
}
.buttonWin a:hover {
    /*color: rgb(39, 39, 39);*/
    color: rgb(0, 0, 0);
    }
.hello a:hover {
    /*color: rgb(39, 39, 39);*/
    color: rgb(0, 0, 0);
}
.inputs {
    margin-left: 20px;
}
a.table {
    text-decoration: none;
    color: rgb(255, 255, 255);
}
p.hello {
    color: rgb(0, 0, 0);
    text-align: right;
    font-family: monospace;
    font-size: 16px;
    width: 94px;
    margin-right: 5px;
    float: right;
    margin-left: 13%;
}
.exitbutton {
    text-decoration: none;
    text-align: center;
    border: 1px solid rgb(50 82 120);
    border-radius: 18px;
    background-color: rgb(66 106 154);
    color: white;
    padding: 4px;
    font-family: monospace;
    font-size: 16px;
    margin-right: 5px;
    width: 89px;
    float: right;
}
.footer {
    background-color: rgb(246, 246, 246);
        display: flex;
    flex-wrap: wrap;
}
.footerLogo {
    margin-left: 20px;
    margin-right: 10%;
    padding-top: 25px;
    width: 200px;
    font-size: 17px;
    font-family: monospace;
}
.footerNum {
    font-size: 18px;
    font-family: monospace;
    padding-top: 17px;
    padding-bottom: 5px;
    margin-bottom: 12px;
}
.footerData {
    margin-top: 0px;
    margin-bottom: 4px;
    font-size: 13px;
    font-family: monospace;
}
.footerlink {
    margin-left: 450px;
    margin-top: 30px;
    float: right;
}
.logo {
    border: 0;
    float: left;
}
.maintext {
    font-size: 15px;
    font-family: monospace;
    margin-bottom: 5px;
    padding-left: 15px;
    color: rgb(37, 66, 108);
    font-weight: 600;
}
.dopMainText {
    border: 1px solid rgba(134, 134, 134, 0.297);
    border-radius: 18px;
    background-color: rgba(225, 225, 225, 0.57);
    font-size: 15px;
    font-family: monospace;
    margin: 15px 65px 30px 65px;
    display: flex;
    flex-wrap: wrap;
}
.dopMainApp1 {
    font-weight: 560;
    font-size: 20px;
    font-family: monospace;
    padding-left: 48px;
    width: 300px;
    margin-right: 350px;
    margin-bottom: 3px;
    color: rgb(211, 50, 50);
}
.dopMainApp2 {
    font-weight: 600;
    font-size: 30px;
    font-family: "Noto Sans",sans-serif;
    padding-left: 30px;
    max-width: 450px;
    margin-top: 4px;
    letter-spacing: -.02em;
}
.apppic {
    float: right;
    position: relative;
}
.adpicbox {
    width: 1068px;
    height: 578px;
}
hr {
    border: none;
    background-color: rgba(13, 13, 13, 0.287);
    height: 2px;
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 0;
    margin-bottom: 0;
}
th, td {
    background-color: rgba(208, 223, 236, 0.529);
    padding: 10px;
    font-family: monospace;
    font-size: 14px;
    
}
th {
    background-color: rgb(181, 181, 181);
    font-size: 15px;
    font-weight: 700;

}
thead {
        position: sticky;
    top: 30px;
}
.tablebox {
    border: 1px solid rgba(134, 134, 134, 0.297);
    border-radius: 18px;
    /*background-color: rgba(225, 225, 225, 0.57);*/
    margin: 15px 35px 30px 35px;
    padding: 0px 15px 15px 15px;
    background: linear-gradient(90deg, rgba(225,225,225,0.57) 80%, rgba(255,255,255,1) 100%);
    overflow-x: scroll;
    overflow: auto;
}
.formtext {
    margin: 0;
    margin-top: 5px;
    font-family: monospace;
    font-size: 14px;
    padding-left: 20px;
}
.button {
    padding: 8px 45px 8px 45px;
    margin-top: 20px;
    text-decoration: none;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 15px;
    font-size: 14px;
    font-family: monospace;
    cursor: pointer;
    background-color: #fff;
}
.input {
    margin-top: 6px;
    display: inline-block;
    padding: 6px 10px;
    vertical-align: top;
    background: #fff;
    border: 1px solid #848484;
    box-shadow: inset 0px 2px 4px 0px rgb(0 0 0 / 7%);
    line-height: normal;
    outline: none;
    appearance: none;
    border-radius: 0;
    width: 475px;
}
h1 {
    font-size: 20px;
    font-family: monospace;
    text-align: center;
}
.icon {
    padding-top: 10px;
    padding-left: 10px;
}
.scrollbottom {
    text-decoration: none;
    text-align: center;
    color: #000;
    position: -webkit-sticky;
    position: sticky;
    top: 20px;
    z-index: 1;
    float: right;
    font-size: 22px;
    font-family: monospace;
    font-weight: 600;
    border: 1px solid rgba(70, 70, 70);
    border-radius: 35px;
    background-color: rgba(225, 225, 225, 0.73);
    padding: 5px 5px 5px 5px;
    margin-right: 8px;
}
.scrolltop {
    text-decoration: none;
    text-align: center;
    color: #000;
    position: -webkit-sticky;
    position: sticky;
    top: 60px;
    z-index: 1;
    float: right;
    font-size: 22px;
    font-family: monospace;
    font-weight: 600;
    border: 1px solid rgba(70, 70, 70);
    border-radius: 35px;
    background-color: rgba(225, 225, 225, 0.73);
    padding: 5px 5px 5px 5px;
    margin-right: 8px;
}
.search {
    margin-left: 35px;
    margin-top: 6px;
    margin-bottom: 15px;
    display: inline-block;
    padding: 6px 10px;
    vertical-align: top;
    background: #fff;
    border: 1px solid #848484;
    box-shadow: inset 0px 2px 4px 0px rgb(0 0 0 / 7%);
    line-height: normal;
    outline: none;
    appearance: none;
    border-radius: 0;
    width: 1100px;
}
.searchtext {
    margin-left: 50px;
}
.submit {
    padding: 7px 11px 7px 11px;
    margin-top: 5px;
    text-decoration: none;
    border: 1px solid #848484;
    box-shadow: inset 0px 2px 4px 0px rgb(0 0 0 / 7%);
    font-size: 14px;
    font-family: monospace;
    cursor: pointer;
    background-color: #fff;
}
.hideth {
    display: none;
}
.invth {
    margin-left: 50px;
    color: rgb(255, 255, 255);
    background-color: white;
}