#loginWin {
    background: linear-gradient(to left, rgb(195, 195, 195), rgb(255, 255, 255));

}
.loginWin {
    text-align: center;
    padding: 0 25% 0;
    margin-top: 13%;

}
#loginWin::after{
    content: "";
    background-image: url(pic/icon.svg);
    background-size: 129%;
    opacity: 0.5;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
}
.log {
    background-color: rgb(66 106 154);
    /*background-color: rgb(219, 16, 16);*/
    border: 1px solid rgb(0, 0, 0);
    border-bottom: 1px solid rgb(255, 255, 255);
    font-size: large;
    margin-left: 380px;
    margin-right: 380px;
    font-family: monospace;
}
.loginform {
    border: 1px solid rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    text-align: center;
    /*padding-bottom: 10%;*/
    margin-left: 380px;
    margin-right: 380px;
    font-family: monospace;
    font-size: 20px;
}
.navbutton {
    display: block;
    text-align: center;
    margin-top: 15px;
    text-decoration: none;
    border-radius: 14px;
}
h2 {
    margin: 0;
    padding: 7px 0;
    text-align: center;
}
#registerbutton {
    padding: 6px;
    text-decoration: none;
    border: 2px solid rgb(0, 0, 0);
    /*border-radius: 15px 5%;*/
    text-transform: none;
    margin-right: 15px;
    /*background: linear-gradient(to left, rgb(195, 195, 195), rgb(255, 255, 255));*/
    background-color: rgb(66 106 154);
    color: #000;
    font-size: 30px;
    font-family: monospace;
}
#loginbutton {
    padding: 6px;
    text-decoration: none;
    border: 2px solid rgb(0, 0, 0);
    /*border-radius: 5% 15px;*/
    text-transform: none;
    /*background: linear-gradient(to right, rgb(195, 195, 195), rgb(255, 255, 255));*/
    background-color: rgb(66 106 154);
    color: #000;
    font-size: 30px;
    font-family: monospace;
}
.reg {
    padding: 4% 15% 4% 15%;
    margin-top: 30px;
    text-decoration: none;
    border: 2px solid rgb(0, 0, 0);
    /*outline: none;*/
    border-radius: 15px;
    font-size: 18px;
    font-family: monospace;
    cursor: pointer;
    background-color: #fff;
}
.enter {
    margin-top: 6px;
    display: inline-block;
    padding: 8px 15px;
    vertical-align: top;
    background: #fff;
    border: 1px solid #848484;
    /*-webkit-box-shadow: inset 0px 2px 4px 0px rgb(0 0 0 / 7%);*/
    box-shadow: inset 0px 2px 4px 0px rgb(0 0 0 / 7%);
    line-height: normal;
    outline: none;
    appearance: none;
    border-radius: 0;
    text-align: center;
}
.msg {
    border: 2px solid rgb(50 82 120);
    margin-left: 50px;
    margin-right: 50px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 17px;
    font-family: monospace;
}